<h2>Listen to Spotify with <a href="https://audiomotion.dev/">AudioMotion Analyzer!</a></h2>
<audio controls="controls" crossorigin="anonymous">
  <source src="<%= result.preview_url %>" type="audio/mpeg"/>
  </audio>
