<h1>Welcome User</h1>

<form method="GET" action="/user/:track"> <!--Why is this a GET and not a POST route? Does not work as -->
  <input type="text" name="track" placeholder="search titles" />
  <input type="submit" />
</form>

<form action="/user/:artist" method="GET">
  <input type="text" name="artist" placeholder="search artists">
  <input type="submit" />
</form>
